        <%= error_messages_for(@section) %>

        <table summary="section form fields">
            <tr>
                <th><%= f.label(:page_id, "Page ID") %></th>
                <td><%= f.text_field(:page_id) %></td>
            </tr>        	
            <tr>
                <th><%= f.label(:name) %></th>
                <td><%= f.text_field(:name) %></td>
            </tr>
            <tr>
                <th><%= f.label(:position) %></th>
                <td><%= f.select(:position, 1..@page_count) %></td>
            </tr>
            <tr>
                <th><%= f.label(:visible) %></th>
                <td><%= f.check_box(:visible) %></td>
            </tr>                        
            <tr>
                <th><%= f.label(:content_type) %></th>
                <td>
                    <%= f.radio_button(:content_type, 'text') %> Text
                    <%= f.radio_button(:content_type, 'HTML') %> HTML
                </td>
            </tr>
            <tr>
                <th><%= f.label(:content) %></th>
                <td><%= f.text_area(:content, :size => '40x10') %></td>
            </tr>
            <tr>
                <th>Created At</th>
                <td><%= f.text_field(:created_at) %></td>
            </tr>
            <tr>
                <th>Updated At</th>
                <td><%= f.text_field(:updated_at) %></td>
            </tr>
        </table>
