<%= link_to("<< Back to Pages", {:controller => 'pages', :action => 'index', :subject_id => @page.subject.id}, :class => 'back-link') %>

<div class="sections index">
    <h2>sections</h2>

    <%= link_to("Add New Section", {:action => 'new', :page_id => @page.id}, :class => 'action new') %>

    <table class="listing" summary="Subject list">
        <tr class="header">
            <th>&nbsp;</th>
            <th>Page ID</th>
            <th>Name</th>
            <th>Position</th>
            <th>Visible</th>
            <th>Content Type</th>
            <th>Content</th>
            <th>Created At</th>
            <th>Updated At</th>
        </tr>
        <% @sections.each do |section| %>
        <tr>
        	<td><%= section.id %></td>
            <td><%= section.page_id %></td>
            <td><%= section.name %></td>
            <td><%= section.position %></td>
            <td class="center"><%= section.visible ? 'Yes' : 'No' %></td>
            <td><%= section.content_type %></td>
            <td><%= section.content %></td>
            <td><%= section.created_at %></td>
            <td><%= section.updated_at %></td>
            <td class="actions">
                <%= link_to("Show", {:action => 'show', :id =>section.id, :page_id => @page.id}, :class => 'action show') %>
                <%= link_to("Edit", {:action => 'edit', :id =>section.id, :page_id => @page.id}, :class => 'action edit') %>
                <%= link_to("Delete", {:action => 'delete', :id =>section.id, :page_id => @page.id}, :class => 'action delete') %>
            </td>
        </tr>
        <%end%>
    </table>
</div>