<%= link_to("<< Back to List", {:action => 'index', :page_id => @page.id}, :class => 'back-link') %>

<div class="sections show">
    <h2>Show section</h2>

    <table summary="section detail view">
        <tr>
            <th>ID</th>
            <td><%= @section.id %></td>
        </tr>
        <tr>
            <th>Page ID</th>
            <td><%= @section.page_id %></td>
        </tr>
        <tr>
            <th>Name</th>
            <td><%= @section.name %></td>
        </tr>
        <tr>
            <th>position</th>
            <td><%= @section.position %></td>
        </tr>
        <tr>
            <th>Visible?</th>
            <td><%= @section.visible ? 'true' : 'false' %></td>
        </tr>
        <tr>
            <th>Content Type</th>
            <td><%= @section.content_type %></td>
        </tr>
        <tr>
            <th>Content</th>
            <td><%= @section.content %></td>
        </tr>        
        <tr>
            <th>Created At</th>
            <td><%= @section.created_at %></td>
        </tr>
        <tr>
            <th>Updated At</th>
            <td><%= @section.updated_at %></td>
        </tr>
    </table>
</div>