<% evil_string = "<script>alert('Gotcha!');</script>".html_safe %>
<% good_string = "<strong>Welcome to my site!</strong>" %>

<%#= raw(evil_string) %><br>
<%#= raw(good_string) %><br>

<%= evil_string.html_safe? %><br>

<hr />

<% simple_string = '<strong>Please</strong> visit <a href="www.boogle.com">Boogle</a>.' %>

<%= strip_links(simple_string) %>
<%= strip_tags(simple_string) %>

<hr />

<%= sanitize(evil_string) %><br />
<%= sanitize(simple_string, :tags => []) %><br />
<%= sanitize(simple_string, :tags => ['strong', 'em', 'a']) %><br />