<h1>Demo#hello</h1>
Center
<p>Find me in app/views/demo/hello.html.erb</p>

<%= 1+1 %>
<br>
<% target = "worlds" %>
<%= "Hello #{target}" %>

<%= puts "booga" %>

<br>
Iterating and showing count: 
<% @array.each do |n| %>
	<br> <%= n %>
<% end %>

<a href="/demo/index">Index 1</a>
<br>
<%= link_to("Index 2", {:action => "index"})  %>

<hr>
<h3>URL parameters</h3>
<p>ID parameter: <%= params[:id] %></p>
<p>ID parameter  from controller: <%= @id %></p>
<%= params.inspect %>