<h1>Demo#index</h1>
Boogabooo
<p>Find me in app/views/demo/index.html.erb</p>

<a href="/demo/hello">Hello 1</a>
<br>
<%= link_to("Hello 2", {:action => "hello"}) %> <br>

<%= link_to("Hello with parameters", {:action => "hello", :page=> 5, :id => 20}) %>
<br>

<% name = "Booga');alert('New popop" %>
<%#= link_to('Roar', '#', :onclick => "jsRoar('#{j(name)}'); return true;") %>
<%#= javascript_tag("jsRoar('#{escape_javascript(name)}');") %>