<%= link_to("<<Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="subjects new">
	<h2>Create Subject</h2>

	<%= form_for(:subject, :url => {:action => 'create'}) do |f| %>
	
		<%= render(:partial => "form", :locals => {:f => f}) %>

		<div class="form-buttons">
			<%= submit_tag('Create Subject') %>
		</div>

	<% end %>
</div>