<% @page_title = "Pages" %>

<%= link_to("<< Back to Subjects", {:controller => "subjects", :action => 'index'}, :class => 'back-link') %>

<div class="pages index">
    <h2>pages</h2>

    <%= link_to("Add New Page", {:action => 'new', :subject_id => @subject.id}, :class => 'action new') %>

    <table class="listing" summary="Subject list">
        <tr class="header">
            <th>&nbsp;</th>
            <th>Subject</th>
            <th>name</th>
            <th>Permalink</th>
            <th>Position</th>
            <th>Visible</th>
        </tr>
        <% @pages.each do |page| %>
        <tr>
        	<td><%= page.id %></td>
            <td><%= page.subject.name if page.subject %></td>
            <td><%= page.name %></td>
            <td><%= page.permalink %></td>
            <td><%= page.position %></td>
            <td class="center"><%= page.visible ? 'Yes' : 'No' %></td>
            <td class="actions">
                <%= link_to("View Sections", {:controller => 'sections', :page_id =>page.id}, :class => 'action show') %>
                <%= link_to("Show", {:action => 'show', :id =>page.id, :subject_id => @subject.id}, :class => 'action show') %>
                <%= link_to("Edit", {:action => 'edit', :id =>page.id, :subject_id => @subject.id}, :class => 'action edit') %>
                <%= link_to("Delete", {:action => 'delete', :id =>page.id, :subject_id => @subject.id}, :class => 'action delete') %>
            </td>
        </tr>
        <%end%>
    </table>
</div>