<%= link_to("<<Back to List", {:action => 'index', :subject_id => @subject.id}, :class => 'back-link') %>

<div class="pages new">
    <h2>Create page</h2>

    <%= form_for(:page, :url => {:action => 'create', :subject_id => @subject.id}) do |f| %>

        <%= render(:partial => "form", :locals => {:f => f}) %>

        <div class="form-buttons">
            <%= submit_tag('Create page') %>
        </div>

    <% end %>
</div>
