<%= link_to("<< Back to List", {:action => 'index', :subject_id => @subject.id}, :class => 'back-link') %>

<div class="pages show">
    <h2>Show Page</h2>

    <table summary="page detail view">
        <tr>
            <th>ID</th>
            <td><%= @page.id %></td>
        </tr>
        <tr>
            <th>Subject ID</th>
            <td><%= @page.subject_id %></td>
        </tr>
        <tr>
            <th>Name</th>
            <td><%= @page.name %></td>
        </tr>
        <tr>
            <th>Permalink</th>
            <td><%= @page.permalink %></td>
        </tr>
        <tr>
            <th>position</th>
            <td><%= @page.position %></td>
        </tr>
        <tr>
            <th>Visible?</th>
            <td><%= @page.visible ? 'true' : 'false' %></td>
        </tr>
        <tr>
            <th>Created</th>
            <td><%= @page.created_at %></td>
        </tr>
        <tr>
            <th>Updated</th>
            <td><%= @page.updated_at %></td>
        </tr>
    </table>
</div>